body {
    width: 100%;
    box-sizing: content-box;
    margin: 0;
}

header {
    /* background-image: url('../img/foto-encabezado.jpg'); */
    background-color: #f1f1f1;
    height: 325px;
    text-align: center;
    line-height: 10px;
    padding: auto;
}

header p {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
}

header img {
    width: 200px;
    border-radius: 50%;
    border-inline-start-color: rgb(82, 161, 240);
    padding: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

main {
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 100px;
}

.lemon-pie {
    background-color: tomato;
}

.pet-shop {
    background-color: rgb(230, 162, 243);
}

.cv-batman {
background-color: sandybrown;
}

.cv-daniela {
    background-color: yellowgreen;
}


footer {
    background-color: lemonchiffon;
    position:absolute;
    font-size: 20px;
    text-align: center;
    height: 23px;
    letter-spacing:0.12cm;
    bottom:0;
    width: 100%;
}